.buttonConfirm {
	width: 75px;
	height: 40px;
	text-align: center;
	background-color: #58B957;
	font-size: 16px;
	font-family: Courier;
	color: white;
}

.buttonDeconfirm {
	width: 75px;
	height: 40px;
	text-align: center;
	background-color: #DB524C;
	font-size: 16px;
	font-family: Courier;
	color: white;
}

.message_container {
	text-align: center;
	font-size: 16px;
	font-family: Courier;
	color: grey;
}

.button_container {
	text-align: center;
}