.buttonYes {
	width: 75px;
	height: 40px;
	text-align: center;
	background-color: #58B957;
	border-radius: 4px;
	font-size: 16px;
	font-family:Helvetica;
	color: white;
	border:none;
}

.buttonNo {
	width: 75px;
	height: 40px;
	text-align: center;
	background-color: #DB524C;
	border-radius: 4px;
	font-size: 16px;
	font-family:Helvetica;
	color: white;
	border:none;
}

.logout_message_container {
	text-align: center;
	font-family: Courier;
	color: gray;

}

.logout_page {
	background-color: white;
	border: 5px double #AAAAAA;
	border-radius: 8px;
	text-align: center;
}

.logout_button_container {
	text-align: center;
}